@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border-color: rgb(226 232 240);
  border-radius: 0.375rem;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}
